<div class="container">
  <div class="row">
    <button routerLink="/admin">
      <a><i class="fa fa-connectdevelop"></i>
        Back to Admin</a>
    </button>
    <h1 class="col-md-12 text-center">Add new mqtt connection</h1>
    <form class="col-md-6" [formGroup]="mqttForm" (ngSubmit)="connect(mqttForm.controls)">
      <button (click)="saveConnection(mqttForm.value)" class="btn btn-secondary">Save connection</button>
      <div class="form-group">
        <input class="form-control" type="text" formControlName="name" placeholder="Connection Name" required>
        <input class="form-control" formControlName="broker" type="text" placeholder="Broker Web/IP address" required>
        <input (keydown)="onKeyDown($event)" class="form-control" formControlName="port" type="text" placeholder="Port" required>
        <h5 (click)="advanced = !advanced">Advanced settings <i class="fa fa-chevron-down" style="float:right"></i></h5>
      </div>
      <div class="" *ngIf="advanced">
        <input type="text" class="form-control" formControlName="user" placeholder="Username">
        <input type="text" class="form-control" formControlName="pass" placeholder="Password">
      </div>
      <div>
        <button type="submit" class="btn btn-primary connect">Connect</button>
        <span class="signal">Status: {{conStatus? 'Connected' : 'Disconnected'}} <i class="fa fa-signal" [ngStyle]="{'color': conStatus ? 'green' : 'red'}"></i></span>
      </div>
      <div>
        <button class="btn btn-warning" (click)="selectAsDefault(mqttForm.value)" *ngIf="!isDefault">Select as a
          Default</button>
        <button (click)="reload('/')" class="btn btn-secondary home">Home</button> 
      </div>

    </form>
    <div class="col-md-6">
      <div class="row">
        <h6 class="col-md-12 heads" (click)="connected = !connected">Subscribe to topic <i class="fa fa-chevron-down"></i></h6>
        <div class="col-md-12 topic" *ngIf="connected">
          <input type="text" class="form-control" placeholder="Topic" [(ngModel)]="topic">
          <div> <button class="btn btn-primary" (click)="subscribe(topic)">Subscribe</button>
            <button class="btn btn-danger" (click)="unsubscribe(topic)">Unsubscribe</button></div>

        </div>
        <h6 class="col-md-12 heads" (click)="subscribed = !subscribed">Publish message <i class="fa fa-chevron-down"></i></h6>
        <div class="col-md-12 publish" *ngIf="subscribed">
          <input type="text" class="form-control" placeholder="Message" [(ngModel)]="publish">
          <button class="btn btn-primary" (click)="sendMsg(topic, publish)">Publish</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h6 class="heads">Message Output</h6>
      <div class="loader" *ngIf="messages.length === 0 && subscribed">Loading...</div>
      <div class="msg-wrap">
        <div *ngFor="let message of messages" class="message">
          <span>Message:&nbsp;</span>{{message}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h6 class="heads">Saved Connections</h6>
      <div class="loader" *ngIf="mqtts.length === 0 ">Loading...</div>
      <div class="con-wrap">
        <div *ngFor="let mqtt of mqtts; let i = index" class="connection" (click)="editConnection(mqtt.payload.val(),i); isDefault = false">
          <span>{{mqtt.payload.val().name}}</span>
          <i class="fa fa-remove" (click)="deleteConnection(mqtt.key)"></i>
        </div>
      </div>
    </div>

  </div>

</div>
