$color_1: maroon;
$background_color_1: #fff;
$background_color_2: #ccc;

@-webkit-keyframes load7 {
	0%,80%,100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load7 {
	0%,80%,100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
.container {
	background-color: $background_color_1;
	box-shadow: 2px 5px 10px rgba(0,0,0,.5 );
	margin: 20px auto;
	padding: 60px;
}
input {
	margin: 20px 0;
}
small {
	display: block;
}
.connect{
	padding: 10px 40px;
}
.signal{
	position: relative;
	top:15px;
	font-size: 20px;
	line-height: 30px;
	display: block;
	padding: 20px 0;
}
.signal i{
	font-size: 30px
}
.topic {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}
.publish {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}
.status {
	margin: 30px;
}
.home{
	a{
		text-decoration: none;
		color:#fff;
	}
}
button {
    margin: 20px 10px 0 0;
    border: 2px solid rgba(0,0,0,.3);
    padding: 10px 20px;
	border-radius: 4px;
	font-weight: bold;
    cursor: pointer;
    &:hover {
      transition: 0.5s;
      border-color: rgba(0, 0, 0, 0.5)
    }
    &:active:focus {
      border: 0;
      outline: none;
    }
  }
.heads {
	padding: 30px 0px 20px 30px;
	font-weight: bold;
}
.message {
	padding: 20px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.msg-wrap {
	max-height: 250px;
	overflow: auto;
}
.con-wrap {
	max-height: 250px;
	overflow: auto;
}
.connection {
	padding: 20px;
	border: 1px solid #ccc;
	margin-top: 10px;
	position: relative;
	border-radius: 4px;
	font-weight: bold;
	&:hover {
		box-shadow: 2px 5px 10px rgba(0,0,0,.5 );
		background-color: $background_color_2;
		cursor: pointer;
	}
	&:focus {
		box-shadow: 2px 5px 10px rgba(0,0,0,.5 );
		background-color: $background_color_2;
		cursor: pointer;
		outline: none;
		border: 1px solid #000;
	}
	i {
		position: absolute;
		top: 10px;
		right: 10px;
		color: $color_1;
	}
}
.connection.active {
	box-shadow: 2px 5px 10px rgba(0,0,0,.5 );
	background-color: $background_color_2;
	cursor: pointer;
	outline: none;
	border: 1px solid #000;
}
.loader {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
	font-size: 10px;
	margin: 80px auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
	&:before {
		border-radius: 50%;
		width: 2.5em;
		height: 2.5em;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation: load7 1.8s infinite ease-in-out;
		animation: load7 1.8s infinite ease-in-out;
		content: '';
		position: absolute;
		top: 0;
		left: -3.5em;
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
	&:after {
		border-radius: 50%;
		width: 2.5em;
		height: 2.5em;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation: load7 1.8s infinite ease-in-out;
		animation: load7 1.8s infinite ease-in-out;
		content: '';
		position: absolute;
		top: 0;
		left: 3.5em;
	}
}
