.main-container {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-size: cover;
    overflow: hidden;
  }
  
  header {
    position: fixed;
    top: 4%;
    width: 91%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    > {
      label img {
        width: 100px;
        height: 100px;
      }
      button:focus {
        outline: none;
      }
    }
  }
  
  .settings {
    position: relative;
    top: -10px;
    left: 10px;
    border-radius: 50%;
    background: #ccc;
    padding: 5px;
  }
  
  button > .arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  #layer_0 {
    fill: #34b192;
    width: 80px;
    height: 80px;
  }
  
  #check {
    display: none;
  }
  
  .main, .container {
    margin: auto;
    position: absolute;
    top: 70%;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .main {
    cursor: pointer;
    z-index: 50;
    .title {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      font-size: 3em;
      line-height: 80px;
      text-align: center;
      color: #fafafa;
    }
  }
  
  .container {
    z-index: 10;
  }
  
  .plate {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 70px;
    text-align: center;
    display: flex;
    align-items: center;
    opacity: 0;
    border-radius: 50%;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    text-decoration: none;
    color: #000;
    border: 2px solid #34b295;
    box-sizing: border-box;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      color: green;
    }
    i {
      width: 100%;
      font-size: 2em;
      line-height: 53px;
      text-align: center;
      color: #333;
    }
    &:hover i {
      color: #111;
    }
    &:nth-of-type(1) {
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      transition-delay: 0s;
    }
    &:nth-of-type(2) {
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      transition-delay: 0.1s;
    }
    &:nth-of-type(3) {
      -webkit-transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
  }
  
  #check:checked ~ .main + .container .plate {
    opacity: 1;
    &:nth-of-type(1) {
      top: -180%;
    }
    &:nth-of-type(2) {
      right: -180%;
    }
    &:nth-of-type(4) {
      right: -130%;
      bottom: -130%;
    }
    &:nth-of-type(5) {
      bottom: -180%;
    }
    &:nth-of-type(6) {
      bottom: -130%;
      left: -130%;
    }
    &:nth-of-type(7) {
      left: -180%;
    }
    &:nth-of-type(8) {
      top: -130%;
      left: -130%;
    }
  }
  
  .themes > button {
    margin: 10px 0 10px 0;
    padding: 10px 40px;
    border-radius: 4px;
    border: 0px;
    box-shadow: 0px 5px #615757;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      color: #636363;
    }
    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(5px);
      box-shadow: 0px 0px transparent;
      outline: none;
      border: 0;
    }
  }
  
  .main-wrap {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu {
    width: 40%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    > button {
      margin: 20px 0;
      padding: 8px 23px;
      border-radius: 10px;
      border: 0;
      font-size: 20px;
      background: rgba(255, 255, 255, 0.4);
      color: #000;
      cursor: pointer;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      &:hover, &:focus, &:active {
        font-size: 20px;
        background: rgba(255, 255, 255, 0.7);
        outline: none;
      }
    }
  }
  
  .themes {
    position: absolute;
    width: 30%;
    height: 50%;
    background: #fff;
    top: 25%;
    left: 2.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 4px solid #34b295;
    box-sizing: border-box;
    padding: 30px !important;
    flex-flow: column !important;
    z-index: 2;
    > .placeholder {
      position: absolute;
      top: 5%;
      left: 5%;
      color: #000;
      font-weight: bold;
      text-transform: uppercase;
    }
    .close{
            position: absolute;
            top:0;
            right:0;
    
    }
  }
  
  .view {
    top: 0;
    font-size: 18px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-flow: column;
    position: relative;
    text-align: center;
    overflow-y: auto;

    input {
      margin: 10px;
    }
    span {
      padding: 5px 10px;
      margin: 5px;
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      &:hover {
        background-color: #34b295;
        color: #fff;
      }
      &:focus,&.selected {
        background-color: #34b192;
        color: #fff;
      }
    }
  }
  
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .text {
    display: flex;
    flex-flow: column;
    width: 100%;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .themes {
    > .save {
      position: absolute;
      bottom: 5%;
      right: 5%;
      font-size: 12px !important;
      margin: 0 !important;
    }
    input {
      width: 20px;
      height: 20px;
      border-radius: 20%;
      background: #fff;
      outline: none;
      color: transparent;
      border: 0;
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.7);
    }
  }
  
  ::ng-deep color-picker {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .circle {
    width: 145mm;
    height: 145mm;
    background-image: url('../../assets/images/DeviceHousing.png');
    position: relative;
    background-size: cover;
    bottom: -26px;
    right: 95px;
    border-radius: 50%;
  }
  
  .inner {
    position: absolute;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    top: 5%;
    left: 5%;
    border-radius: 50%;
  }
  
  .themable {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    border-radius: 50%;
    .theme-logo {
      position: absolute;
      width: 8%;
      top: 3.1%;
      left: 45.3%;
      fill: #b5b5b5;
    }
    .arrow {
      position: absolute;
      width: 8%;
      height: 26px;
      top: 3%;
      left: 45%;
    }
  }
  
  #layer_1 {
    fill: #b6b6b6;
  }
  
  #layer_2 {
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
    position: absolute;
    border-radius: 50%;
  }
  
  #layer_3 {
    width: 90%;
    height: 90%;
    margin: 0;
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    top: 5%;
    left: 5%;
  }
  
  .infocircle {
    position: absolute;
    width: 76%;
    height: 76%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 12%;
    left: 12%;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    > {
      div {
        width: 70%;
        margin: 10px auto;
        text-align: center;
        color: #fff;
      }
      .title {
        font-size: 1rem;
        order: 2;
        font-weight: bold;
      }
      .value-measured {
        position: absolute;
        top:75%;
        left: 15%;
        span {
          font-size: 4rem;
          line-height: 40px;
        }
      }
      .descriptor {
        width: 90%;
        font-size: 1.8rem;
        order: 4;
        font-weight: bold;
        line-height: 30px;
      }
      .recommendation {
        font-size: 15px;
        border-radius: 5px;
        width: 60%;
        text-transform: uppercase;
        order: 5;
        color: #fff;
      }
    }
  }
  
  .Spin {
    animation: spin 2s forwards;
  }
  
  .Respin {
    animation: respin 2s forwards;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  
  @keyframes respin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(-360deg);
    }
  }
  
  
  @media (max-width: 1060px) {
    .circle {
      width: 105mm;
      height: 105mm;
    }
  }
  
  @media (max-width: 768px) {
    .view {
      height: 50%;
    }
    header > label img {
      width: 100%;
      height: auto;
      padding: 10%;
    }
    .container {
      flex-flow: column;
      justify-content: center;
    }
    .main-wrap {
      flex-flow: column;
    }
    .circle {
      min-width: 250px;
      width: 80%;
      height: auto;
      padding-top: 80%;
      position: relative;
      left: 0%;
    }
    .menu {
      width: 90%;
      height: auto;
      justify-content: center;
      > div {
        width: 90%;
      }
    }
    .infocircle > {
      .title {
        font-size: 4vw;
        margin-top: 5vw;
      }
      .value-measured span {
        font-size: 12vw;
      }
      .descriptor {
        font-size: 5vw;
      }
    }
    .themes {
      width: 95%;
    }
  }
  
  @media (max-width: 425px) {
    .themes {
      height: 35%;
      top: 0%;
    }
    .infocircle{
      >{
        div{
          margin: 0px auto;
        }
      }
    }
    .view {
      flex-flow: wrap;
    }
    .plate {
      font-size: 8px;
      width: 50px;
      height: 50px;
    }
    #check:checked ~ .main + .container .plate {
      &:nth-of-type(1) {
        top: -30%;
        right: -100%;
      }
      &:nth-of-type(2) {
        right: -75%;
        top: -140%;
      }
    }
    .themes > button {
      padding: 4px 10px;
    }
    .main {
      top: 30%;
      left: 0;
      width: 85px;
      height: 85px;
    }
  }
  
  @media (max-width: 360px) {
    .circle {
      min-width: 242px;
      width: 90%;
      padding-top: 90%;
    }
    
  }