<div class="main-container" >
    <header>
      
      <input id="check" type="checkbox">
      <label class="main" for="check">
          <img src="../assets/images/ArveLogo-01.png" alt="">
      </label>
      <div class="container">
        <a class="plate" (click)="showThemes = !showThemes; applyCurrent()">
          <span>Theme Selection</span>
        </a>
        <a class="plate" (click)="showMqtt = !showMqtt">
          <span style="margin-left:15px">MQTT</span>
        </a>
      </div>
    </header>
    <div class="main-wrap">
      <div class="menu">
        
      </div>
      <div class="themes" [hidden]="!showThemes" >
        <div class="placeholder">Choose a theme</div>
        <i class="fa fa-close close " (click)="showThemes = !showThemes"></i>
        <div class="view" [hidden]="!showThemes">
          <span class="span-theme" *ngFor="let theme of availableThemes" (click)="transferCurrentTheme(theme)">{{theme.value.theme_name}}</span>
        </div>
        <div class="view" [hidden]="showThemes && !showMqtt" >
          <span class="span-theme" *ngFor="let theme of availableThemes" (click)="transferCurrentTheme(theme)">{{theme.value.theme_name}}</span>
        </div>
        <button class="save" (click)="applyTheme(currentTheme); showThemes = !showThemes">Apply theme</button>
      </div>
      <div class="circle"  [ngStyle]="{'background-image' : stateImage ? 'url(' + stateImage + ')' : initial}" >
        <div class="inner">
          <div class="themable" [ngStyle]="{'background-color':themable}">
            <div class="infocircle" >
              <div class="value-measured"  >
                {{message}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  