.template-list {
  list-style: none;
  flex-flow: column;
  display: flex;
  padding: 0;
  margin: 3px;
}

.template-list-item {
  width: 100%;
  position: relative;
  height: 40px;
  border: 1px solid #fff;
  cursor: pointer;
  
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
.chosen,.chosen-g,.chosen-m,.chosen-ufg,.chosen-u,.chosen-vu,.chosen-h{
    border: 1px solid #000;
    margin: 5px 0px;
    box-sizing: border-box;
    position: relative;
    &:after{
      content: 'chosen';
      width: 30px;
      font-size: 8px;
      line-height: 30px;
      text-align: center;
      font-weight: bold;
      position: absolute;
      top: 12%;
      color:#fff;
      background: #109937;
      left: 84%;
      border-radius: 50%;
    }
}


.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;

  &:before,
  &:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }

  font-size: 10px;
  margin: 20px auto;
  top: -25px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
  }

  &:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  &:after {
    left: 3.5em;
  }
}

@-webkit-keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


@keyframes load7 {

  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}