<div *ngIf="backgrounds.length === 0" class="loader">Loading...</div>
<ul *ngIf="backgrounds && whatToLoad === 'backgrounds'" class="template-list" >
  <li *ngFor="let item of backgrounds" class="template-list-item" (click)="emitData(item, $event)">
<img src="{{item}}" alt="" #list>
  </li>
</ul>
<ul *ngIf="stateImages && whatToLoad === 'stateImages'" class="template-list" >
  <li *ngFor="let item of stateImages" class="template-list-item" (click)="emitData(item, $event)">
<img src="{{item}}" alt="" #listState>
  </li>
</ul>

