<div class="container">
  <h1 class="header">Login to your Design housing Admin panel</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control" (blur)="validation($event, 'Email')">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" (blur)="validation($event, 'Password')">
        </div>
        <div *ngIf="!authService.currentUser; else alreadyLoggedIn">
          <button type="submit" (click)="credentialsLogin(loginForm.value)" class="btn btn-default">Login</button>
        </div>
        <ng-template #alreadyLoggedIn>
          <button routerLink="/admin">You are already logged in</button>
        </ng-template>
      </form>
    </div>
  </div>
  </div>
