<div class="container">
  <div class="row navigation">
    <div class="nav-plate">
      <button class="home" routerLink="/" *ngIf="!templates">
        <a><i class="fa fa-home"></i> Home</a>
      </button>
      <button class="mqtt" routerLink="/mqtt">
        <a><i class="fa fa-globe"></i>Mqtt</a>
      </button>
      <button class="templates" (click)="templates = !templates">
        <a><i class="fa fa-connectdevelop"></i>
          {{ !templates ? 'Upload' : 'Back to Admin'}}</a>
      </button>
    </div>
    <button class="btn btn-primary logout" (click)="authService.signOut()">Logout <i class="fas fa-sign-out-alt"></i></button>
  </div>

  <div class="row" *ngIf="!templates">
    <h1 class="col-md-12 text-center">ArveSense</h1>
    <h4 class="col-md-12 text-center subhead">Admin Panel</h4>
    <div class="col-md-6">
      <form [formGroup]="createThemeForm" class="form-group" (ngSubmit)="submitTheme()">
        <label>Theme name</label>
        <input type="text" formControlName="theme_name" class="form-control" (blur)="onThemeChange($event)">
        <label>Background definition <i class="fa fa-edit bg" (click)="bgch = !bgch"></i></label>
        <input *ngIf="!bgch" [(colorPicker)]="background" [style.background]="background" [(ngModel)]="background"
          formControlName="background" (colorPickerChange)="saveColor('background', background)" class="form-control">
        <div class="bg-list" *ngIf="bgch">
          <app-upload-list (customBackgroundUrl)="getBgr($event)" [chosen]="customBgr" [whatToLoad]="'backgrounds'"></app-upload-list>
        </div>
        <label>Value Size</label>
        <input type="number" formControlName="font" min="12" max="72" class="form-control" [(ngModel)]="font" (keyup)="onValueSizeChange($event)">
        <label>Value Color</label>
        <input [(colorPicker)]="font_color" [style.background]="font_color" [(ngModel)]="font_color" formControlName="font_color"
          (colorPickerChange)="saveColor('font_color', font_color)" class="form-control">
        <label>Positioning</label>
        <div class="position"> <input type="number" class="form-control" formControlName="top_position" min="10" max="80" [(ngModel)]="top_position"
            placeholder="From Top" (keyup)="onTopPosChange($event)">
          <input type="number" class="form-control" formControlName="left_position" min="-25" max="55" [(ngModel)]="left_position"
            placeholder="From Left" (keyup)="onLeftPosChange($event)"></div>

        <ng-container *ngFor="let stage of stages; let i = index">
          <label>{{StageNames[i]}}</label>
          <div class="bg-list">
            <app-upload-list (customBackgroundUrl)="getStateImage($event, stages[i].name)" [whatToLoad]="'stateImages'"
              [openState]="StageNames[i]" (checkOnCancel)="cancel($event)"></app-upload-list>
          </div>
        </ng-container>
        <button type="submit" *ngIf="!currentKey" class="btn btn-primary save">Save</button>
        <button (click)="updateTheme()" *ngIf="currentKey" class="btn btn-primary">Update</button>
        <button (click)="cancelUpdate()" *ngIf="currentKey" class="btn btn-danger">Cancel</button>
      </form>
    </div>
    <div class="col-md-6 circle-bgr" [ngStyle]="{'background': background, 'background-image' :
     this.customBgr ? 'url(' + this.customBgr + ')' : none}">
      <!-- <div ng2-carouselamos [width]="378" [items]="carouselStages" [$item]="item" [$prev]="prev" [$next]="next"
        (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"></div>

      <ng-template #prev>
        <i class="fas fa-caret-left"></i>
      </ng-template>

      <ng-template #next>
        <i class="fas fa-caret-right"></i>
      </ng-template>

      <ng-template #item let-item let-i="index"> -->
        <!-- <div class="items"> -->
          <div class="circle" [ngStyle]="{'background-image' : stateImage ? 'url(' + stateImage + ')' : initial}">
            <div class="infocircle">
              <div class="value-measured" [ngStyle]="{'font-size': font + 'px', 
                  'color': font_color, 
                  'top': top_position + '%',
                  'left': left_position + '%'}">
                  {{message}}
              </div>
            </div>
          </div>
        <!-- </div>

      </ng-template> -->

      <div class="col-md-12 available">
        <h4 class="col-md-12 text-center ">Themes available</h4>
        <div class="loader" *ngIf="availableThemes.length === 0">Loading...</div>
        <ul *ngIf="availableThemes">
          <li class="theme" *ngFor="let theme of availableThemes; let i = index" (click)="editTheme(i)" title="Click to edit"
            [ngStyle]="{ 'background': theme.value.background , 'background-image': 'url(' + theme.value.background_image + ')', 'color':
  theme.value.font }">
            {{theme.value.theme_name}}
            <i class="fa fa-close" (click)="deleteTheme($event, i)" title="Delete Theme"></i>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="row templates" *ngIf="templates">
    <app-upload-form></app-upload-form>
  </div>
</div>
