<div class="upload-form row">
  <div class="col-md-8">
    <label><b>Upload background</b> </label>
    <div *ngIf="currentUpload">
      <div class="progress">
        <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
      </div>
      Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
    </div>
    <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="detectFiles($event)">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
      <button class="to-send" [disabled]="!selectedFiles" (click)="uploadBackground()">
        Upload
      </button>
    </div>
  </div>
</div>
<div class="upload-form row">
  <div class="col-md-8">
      <label><b> Upload face</b></label>
      <select [(ngModel)]="selectedStage" class="form-control">
          <option value="Good">Good</option>
          <option value="Moderate">Moderate</option>
          <option value="UnhealthyFor">Unhealthy For Certain Groups</option>
          <option value="Unhealthy">Unhealthy</option>
          <option value="Very Unhealthy">Very Unhealthy</option>
          <option value="Hazardous">Hazardous</option>
        </select>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="detectFiles($event)">
              <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
            </div>
            <button class="to-send" [disabled]="!selectedFiles" (click)="uploadStateImage(selectedStage)">
              Upload
            </button>
          </div>
  </div>
  
</div>
