<div class="container">
  <div class="row navigation">
    <div>
      <button class="home" routerLink="/" *ngIf="!templates">
        <a><i class="fa fa-home"></i> Home</a>
      </button>
      <button class="mqtt" routerLink="/mqtt">
        <a><i class="fa fa-globe"></i>Mqtt</a>
      </button>
      <button class="templates" (click)="templates = !templates">
        <a><i class="fa fa-connectdevelop"></i>
          {{ !templates ? 'Upload' : 'Back to Admin'}}</a>
      </button>
    </div>
    <button class="btn btn-primary logout" (click)="authService.signOut()">Logout <i class="fas fa-sign-out-alt"></i></button>
  </div>

  <div class="row" *ngIf="!templates">
    <h1 class="col-md-12 text-center">Design Housing</h1>
    <h4 class="col-md-12 text-center subhead">Admin Panel</h4>
    <div class="col-md-6">
      <form [formGroup]="createThemeForm" class="form-group" (ngSubmit)="submitTheme()">
        <label>Theme name</label>
        <input type="text" formControlName="theme_name" class="form-control">
        <label>Background definition <i class="fa fa-edit bg" (click)="bgch = !bgch"></i></label>
        <input *ngIf="!bgch" [(colorPicker)]="background" [style.background]="background" [(ngModel)]="background"
          formControlName="background" (colorPickerChange)="saveColor('background', background)" class="form-control">
        <div class="bg-list" *ngIf="bgch">
          <app-upload-list (customBackgroundUrl)="getBgr($event)" [chosen]="customBgr" ></app-upload-list>
        </div>
        <label>Casing definition</label>
        <input [(colorPicker)]="casing" [style.background]="casing" [(ngModel)]="casing" formControlName="casing"
          (colorPickerChange)="saveColor('casing', casing)" class="form-control">
        <label>Face definition Inner <i class="fa fa-edit inr" (click)="inr = !inr"></i></label>
        <input *ngIf="!inr" [(colorPicker)]="inner_circle" [style.background]="inner_circle" [(ngModel)]="inner_circle"
          formControlName="inner_circle" (colorPickerChange)="saveColor('inner_circle', inner_circle)" class="form-control">
        <div class="bg-list" *ngIf="inr">
          <app-upload-list (customBackgroundUrl)="getInnerFace($event)" [chosen]="customInnerFace"></app-upload-list>
        </div>
        <label>Face definition Outer</label>
        <input [(colorPicker)]="outer_circle" [style.background]="outer_circle" [(ngModel)]="outer_circle"
          formControlName="outer_circle" (colorPickerChange)="saveColor('outer_circle', outer_circle)" class="form-control">
        <label>Font color</label>
        <input [(colorPicker)]="font" [style.background]="font" [(ngModel)]="font" formControlName="font"
          (colorPickerChange)="saveColor('font', font)" class="form-control">
        <label>Value Positioning</label>
        <ul class="checks">
          <li>
            <span>Default</span>
            <input type="radio" name="mode" formControlName="mode" value="default" (change)="selectValuePositioning($event , 'default')">
          </li>
          <li>
            <span>Reverse</span>
            <input type="radio" name="mode" formControlName="mode" value="reverse" (change)="selectValuePositioning($event , 'reverse')">
          </li>
          <li>
            <span>Value first</span>
            <input type="radio" name="mode" formControlName="mode" value="value_first" (change)="selectValuePositioning($event , 'value_first')">
          </li>
          <li>
            <span>Value last(minified)</span>
            <input type="radio" name="mode" formControlName="mode" value="value_last_mini" (change)="selectValuePositioning($event , 'value_last_mini')">
          </li>
          <li>
            <span>Non-visible</span>
            <input type="radio" name="mode" formControlName="mode" value="non_visible" (change)="selectValuePositioning($event , 'non_visible')">
          </li>
        </ul>
        <button type="submit" *ngIf="!currentKey" class="btn btn-primary save">Save</button>
        <button (click)="updateTheme()" *ngIf="currentKey" class="btn btn-primary">Update</button>
        <button (click)="cancelUpdate()" *ngIf="currentKey" class="btn btn-danger">Cancel</button>
      </form>
    </div>
    <div class="col-md-6 circle-bgr" [ngStyle]="{'background': background, 'background-image' :
     this.customBgr ? 'url(' + this.customBgr + ')' : initial}">
      <div class="circle" *ngIf="themeLoadTime">
        <div class="inner">
          <div class="themable">
            <svg version="1.1" class="theme-logo alt-theme-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 76 76" style="enable-background:new 0 0 76 76;" xml:space="preserve">
              <g>
                <path d="M38,4c18.7,0,34,15.3,34,34c0,18.7-15.3,34-34,34S4,56.7,4,38C4,19.3,19.3,4,38,4 M38,0C17,0,0,17,0,38s17,38,38,38
               s38-17,38-38S59,0,38,0L38,0z" />
              </g>
              <polygon points="38.5,14.5 28.5,30.5 48.5,30.5 " />
              <polygon points="38.5,28.5 28.5,44.5 48.5,44.5 " />
              <polygon points="38.5,42.5 28.5,58.5 48.5,58.5 " />
            </svg>
          </div>
        </div>
      </div>
      <div class="circle" *ngIf="!themeLoadTime">
        <div class="inner">
          <div class="themable" [ngStyle]="{'background-color':casing}">
            <svg version="1.1" class="theme-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 76 76" style="enable-background:new 0 0 76 76;" xml:space="preserve">
              <g>
                <path d="M38,4c18.7,0,34,15.3,34,34c0,18.7-15.3,34-34,34S4,56.7,4,38C4,19.3,19.3,4,38,4 M38,0C17,0,0,17,0,38s17,38,38,38
               s38-17,38-38S59,0,38,0L38,0z" />
              </g>
              <polygon points="38.5,14.5 28.5,30.5 48.5,30.5 " />
              <polygon points="38.5,28.5 28.5,44.5 48.5,44.5 " />
              <polygon points="38.5,42.5 28.5,58.5 48.5,58.5 " />
            </svg>
            <div class="infocircle" [ngStyle]="{'color':font}">
              <div id="layer_2" [ngStyle]="{'background-color':outer_circle}">
                <div id="layer_3" [ngStyle]="{'background': inner_circle, 'background-image' : 
                this.customInnerFace ? 'url(' + this.customInnerFace + ')' : initial}">

                </div>
              </div>
              <div class="title">AQI</div>
              <div class="value-measured">
                <span>3</span>
              </div>
              <div class="descriptor">Descriptor</div>
              <div class="recommendation">Reccomendation</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 available">
        <h4 class="col-md-12 text-center ">Themes available</h4>
        <div class="loader" *ngIf="availableThemes.length === 0">Loading...</div>
        <ul *ngIf="availableThemes">
          <li *ngFor="let theme of availableThemes; let i = index" (click)="editTheme(i)" title="Click to edit"
            [ngStyle]="{ 'background': theme.value.background , 'background-image': 'url(' + theme.value.background_image + ')', 'color':
  theme.value.font }">
            {{theme.value.theme_name}}
            <i class="fa fa-close" (click)="deleteTheme($event, i)" title="Delete Theme"></i>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="row templates" *ngIf="templates">
    <app-upload-form></app-upload-form>
  </div>
</div>
