.container {
    color: #000;
    margin-top: 20px;
    background-color: #f7f7f7;
    padding: 60px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: -4px -3px 10px rgba(0, 0, 0, 0.5);
  }
  
  app-upload-form {
    width: 100%;
  }
  
  .circle-bgr {
    height: fit-content;
    border-left: 15px solid #f7f7f7;
    border-right: 15px solid #f7f7f7;
    border-radius: 40px;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  
    a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
  
      &:hover {
        color: #636363;
      }
    }
  }
  
  .subhead {
    margin-bottom: 20px;
  }
  
  .home {
    padding: 10px;
  }
  .alt-circle{
    animation: 0.5s spin forward;
  }
  .circle {
    width: 100mm;
    height: 100mm;
    background-image: url('../../assets/images/DeviceHousing.png');
    position: relative;
    background-size: cover;
    margin: auto;
  }
  
  .inner {
    position: absolute;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    top: 5%;
    left: 5%;
    border-radius: 50%;
  }
  
  .themable {
    position: absolute;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    border-radius: 50%;
  
    .theme-logo {
      position: absolute;
      width: 26px;
      top: 3.1%;
      left: 45.3%;
      fill: #b5b5b5;
    }
  
    .arrow {
      position: absolute;
      width: 8%;
      height: 26px;
      top: 3%;
      left: 45%;
    }
  }
  
  #layer_1 {
    fill: #b6b6b6;
  }
  
  #layer_2 {
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
    position: absolute;
    border-radius: 50%;
  }
  
  #layer_3 {
    width: 90%;
    height: 90%;
    margin: 0;
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    top: 5%;
    left: 5%;
  }
  
  .infocircle {
    position: absolute;
    width: 76%;
    height: 76%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 12%;
    left: 12%;
    border: 2px solid #636363;
    z-index: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
  
    > {
      div {
        width: 70%;
        margin: 10px auto;
        text-align: center;
      }
  
      .title {
        font-size: 1rem;
        order: 2;
        font-weight: bold;
      }
  
      .value-measured {
        order: 3;
  
        span {
          font-size: 4rem;
          line-height: 40px;
        }
      }
  
      .descriptor {
        width: 90%;
        font-size: 1.8rem;
        order: 4;
        font-weight: bold;
        line-height: 30px;
      }
  
      .recommendation {
        font-size: 15px;
        border-radius: 5px;
        width: 60%;
        text-transform: uppercase;
        order: 5;
      }
    }
  }
  
  .save {
    padding: 10px 40px;
  }
  
  button {
    margin: 20px 10px 0 0;
    border: 2px solid rgba(0, 0, 0, .3);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  
    &:hover {
      transition: 0.5s;
      border-color: rgba(0, 0, 0, 0.5)
    }
  
    &:active:focus {
      border: 0;
      outline: none;
    }
  }
  
  .templates div {
    overflow: hidden;
    position: relative;
  
    img {
      object-fit: cover;
      position: absolute;
    }
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    padding: 0;
  
    li {
      padding: 10px 20px;
      text-align: center;
      min-width: 150px;
      margin: 5px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
      position: relative;
    }
  }
  
  .available h4 {
    padding-top: 40px;
    font-weight: bold;
  }
  
  .available ul {
    flex-flow: column;
    display: block;
    justify-content: space-evenly;
    max-height: 207px;
    overflow: auto;
  
    li {
      font-weight: bold;
      text-transform: capitalize;
  
      &:hover {
        transition: 0.4s;
        cursor: pointer;
        box-shadow: 2px 5px 10px #000;
      }
    }
  }
  
  ul li>i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    cursor: pointer;
  
    &:hover {
      color: red;
    }
  }
  
  label,
  button {
    font-weight: bold;
  }
  
  .checks {
    display: flex;
    padding: 0;
    flex-flow: wrap;
    justify-content: start;
  
    span {
      padding: 10px;
      font-weight: bold;
    }
  }
  
  .logout {
    background-color: #732828;
  }
  
  .bg {
    cursor: pointer;
  }
  
  .bg-list {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow-x: auto;
    max-height: 120px;
  }
  
  @media (max-width: 768px) {
    .circle {
      width: 100%;
      height: auto;
      display: block;
      padding: 50%;
    }
  
    .infocircle> {
      div {
        margin: 0px auto;
      }
  
      .descriptor {
        font-size: 1.3rem;
      }
  
      .recommendation {
        font-size: 10px;
        text-transform: capitalize;
      }
    }
  }
  
  @media (max-width: 425px) {
    ul {
      padding: 0;
      display: flex;
      justify-content: space-between;
  
      li {
        min-width: 120px;
      }
    }
  
    .container {
      padding: 30px;
    }
  
    .circle {
      padding: 55%;
      position: relative;
      left: -15px;
    }
  
    ::ng-deep .color-picker {
      left: 100px !important;
    }
  }
  
  .loader {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  
    &:before,
    &:after {
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: load7 1.8s infinite ease-in-out;
      animation: load7 1.8s infinite ease-in-out;
    }
  
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
    }
  
    &:before {
      left: -3.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
  
    &:after {
      left: 3.5em;
    }
  }
  
  @-webkit-keyframes load7 {
  
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
  
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @keyframes spin {
    0%{transform: rotate(0deg)};
    100%{transform: rotate(360deg)}
  }
  
  @keyframes load7 {
  
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
  
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  